n8n-workflow.json
{
  "name": "Self-Healing CI - FINAL VERSION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "self-heal",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "self-heal-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json.body;\nreturn {\n  owner: body.repository.split('/')[0],\n  repo: body.repository.split('/')[1],\n  branch: body.branch,\n  path: body.file_to_fix\n};"
      },
      "id": "2",
      "name": "Prepare Repo Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$json.owner}}",
        "repository": "={{$json.repo}}",
        "filePath": "={{$json.path}}",
        "reference": "={{$json.branch}}"
      },
      "id": "3",
      "name": "GitHub Get File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const prev = $node[\"Prepare Repo Data\"].json;\nconst content = $input.all()[0].json.content;\nlet pkg = JSON.parse(content);\n\n// FIXED: Adding missing dependency\npkg.dependencies = pkg.dependencies || {};\npkg.dependencies.lodash = \"^4.17.21\";\n\nreturn {\n  fixed_content: JSON.stringify(pkg, null, 2),\n  owner: prev.owner,\n  repo: prev.repo,\n  path: prev.path,\n  branch: prev.branch\n};"
      },
      "id": "4",
      "name": "Apply Auto-Heal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$json.owner}}",
        "repository": "={{$json.repo}}",
        "filePath": "={{$json.path}}",
        "fileContent": "={{$json.fixed_content}}",
        "commitMessage": "Auto-heal: Fixed build failure by updating package.json",
        "branch": "={{$json.branch}}"
      },
      "id": "5",
      "name": "GitHub Commit Fix",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Repo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Repo Data": {
      "main": [
        [
          {
            "node": "GitHub Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get File": {
      "main": [
        [
          {
            "node": "Apply Auto-Heal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Auto-Heal": {
      "main": [
        [
          {
            "node": "GitHub Commit Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
