n8n-workflow.json
{
  "name": "Self-Healing CI Pipeline - HACKATHON FINAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "self-heal",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (From GitHub)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "self-heal-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "owner",
              "value": "={{$json.body.repository.split('/')[0]}}"
            },
            {
              "name": "repo",
              "value": "={{$json.body.repository.split('/')[1]}}"
            },
            {
              "name": "branch",
              "value": "={{$json.body.branch}}"
            },
            {
              "name": "path",
              "value": "={{$json.body.file_to_fix}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Set Repo Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node['Set Repo Info'].json.owner}}",
        "repository": "={{$node['Set Repo Info'].json.repo}}",
        "filePath": "={{$node['Set Repo Info'].json.path}}",
        "reference": "={{$node['Set Repo Info'].json.branch}}"
      },
      "id": "2",
      "name": "GitHub (Get File)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const content = $node[\"GitHub (Get File)\"].json.content;\n  let pkg = JSON.parse(content);\n  \n  // BUG FIX: Add missing lodash dependency\n  pkg.dependencies = pkg.dependencies || {};\n  pkg.dependencies.lodash = \"^4.17.21\";\n  \n  return {\n    fixed_content: JSON.stringify(pkg, null, 2)\n  };\n} catch (e) {\n  return {\n    fixed_content: \"{}\" // Safety fallback\n  };\n}"
      },
      "id": "3",
      "name": "Heal Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node['Set Repo Info'].json.owner}}",
        "repository": "={{$node['Set Repo Info'].json.repo}}",
        "filePath": "={{$node['Set Repo Info'].json.path}}",
        "fileContent": "={{$node['Heal Logic'].json.fixed_content}}",
        "commitMessage": "Auto-heal: Fixed build failure by updating package.json",
        "branch": "={{$node['Set Repo Info'].json.branch}}"
      },
      "id": "5",
      "name": "GitHub (Commit Fix)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook (From GitHub)": {
      "main": [
        [
          {
            "node": "Set Repo Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Repo Info": {
      "main": [
        [
          {
            "node": "GitHub (Get File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub (Get File)": {
      "main": [
        [
          {
            "node": "Heal Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heal Logic": {
      "main": [
        [
          {
            "node": "GitHub (Commit Fix)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
